@model E_ticaret.Models.ShippingDetails
@{
    ViewBag.Title = "Checkout";
}

<style>
    .field-validation-error{color:#f00;}
    .field-validation-valid {display: #f00;}
    .field-validation-error{border: 1px solid #f00;background-color:#fee;}
    .validation-summary-errors{font-weight:bold;color:#f00;}
    .validation-summary-valid{display: none;}

</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Sipariş Bilgileriniz</h2>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Kullanıcı Adı</label>
                    <div class="col-sm-10">
                        <span class="badge-warning">
                            @User.Identity.Name
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Ad Soyad</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.FullName, new { @class = "form control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Adres Tanımı</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.AdresBasligi, new { @class = "form control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Adres</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Adres, new { @class = "form control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Şehir</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Sehir, new { @class = "form control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Semt</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Semt, new { @class = "form control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Mahalle</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Mahalle, new { @class = "form control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Posta Kodu</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.PostaKodu, new { @class = "form control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success">Sipariş ver</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

